{
  "plugins": [
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "extends": [
  ],
  "ignorePatterns": [
  ],
  "rules": {
    "@typescript-eslint/consistent-type-imports":2,
    "arrow-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "no-shadow": [
      "off"
    ],
    "comma-spacing": [
      "error",
      {
        "after": true,
        "before": false
      }
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "key-spacing": [
      "error",
      {
        "afterColon": true
      }
    ],
    "indent": [
      "off",
      2,
      {
        "SwitchCase": 1,
        "ignoredNodes": [
          "JSXAttribute",
          "JSXSpreadAttribute"
        ]
      }
    ],
    "max-len": [
      "error",
      {
        "ignoreUrls": true,
        "ignoreStrings": true,
        "code": 300
      }
    ],
    "no-var": "error",
    "object-shorthand": "error",
    "dot-location": [
      "error",
      "property"
    ],
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "none",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        }
      }
    ],
    "@typescript-eslint/prefer-optional-chain": "error",
    "@typescript-eslint/no-extra-parens": [
      "off",
      "all",
      {
        "ignoreJSX": "all",
        "nestedBinaryExpressions": false
      }
    ],
    "prefer-const": "warn",
    "keyword-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "space-before-blocks": [
      "error",
      "always"
    ],
    "no-trailing-spaces": "error",
    "no-multi-spaces": "error",
    "no-unused-vars": "off",
    "no-unexpected-multiline": "error",
    "prefer-template": "error",
    "no-constant-condition": "off",
    "rest-spread-spacing": [
      "error",
      "never"
    ],
    "yield-star-spacing": [
      "error",
      "after"
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "no-dupe-class-members": "off",
    "object-curly-newline": [
      "off",
      {
        "ObjectExpression": {
          "consistent": true
        },
        "ObjectPattern": {
          "consistent": true
        },
        "ImportDeclaration": {
          "minProperties": 2
        },
        "ExportDeclaration": {
          "minProperties": 3
        }
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2
      }
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "semi": [
      "error",
      "never"
    ],
    "no-implicit-coercion": [
      "error",
      {
        "number": true,
        "string": true,
        "boolean": true
      }
    ],
    "sort-imports": [
      "error",
      {
        "ignoreDeclarationSort": true
      }
    ]
  }
}
